apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: <NS>
type: Opaque
stringData:
  MINIO_ROOT_USER: <USERNAME> # This is also the MINIO_ACCESS_KEY and SECRET
  MINIO_ROOT_PASSWORD: <PASSWORD>
