# Traefik Helm Chart Values
# Chart: traefik-34.2.1+up34.2.0
# App Version: v3.3.2
# Repository: https://helm.traefik.io/traefik

deployment:
  podAnnotations:
    prometheus.io/port: "8082"
    prometheus.io/scrape: "true"

global:
  systemDefaultRegistry: ""

image:
  repository: rancher/mirrored-library-traefik
  tag: 3.3.6

priorityClassName: system-cluster-critical

providers:
  kubernetesIngress:
    publishedService:
      enabled: true

service:
  ipFamilyPolicy: PreferDualStack

tolerations:
  - key: CriticalAddonsOnly
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists
